.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.element {
  height: 210px;
  width: 340px;
  overflow: hidden;
  border: 1px solid #213547;
}
.element:hover {
  transform: scale(1.022);
}
